

.wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    padding: 80px 200px;
    padding-bottom: 30px;
    align-items: center;
}

.charWrap{
    display: flex;
    column-gap: 4%;
    row-gap: 35px;
    width: 100%;
    flex-wrap: wrap;
}
.charWrap .card{
    width: 22%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.charWrap .card h3{
    font-size: 22px;
    font-weight: 800;
}
.charWrap .card h3:hover{
    cursor: pointer;
}
.charWrap .card img{
    height: 250px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
    border: 1px solid rgb(225, 225, 225);
    object-position: center;
}
.pagination{
    padding: 20px 20px;
    padding-bottom: 80px;
    display: grid;
    place-items: center;
}
.paginationWrap{
    display: flex;
    align-items: center;
    column-gap: 3px;
}
.pagination .num{
    padding: 3px 10px;
    cursor: pointer;
    font-size: 13px;
}
.paginationWrap h4{
    margin: 3px 3px;
    cursor: pointer;
    font-size: 14.5px;
}
.pagination .active{
    font-size: 13px;
    padding: 3px 10px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
}
.pagination .disabled{
    color: rgb(192, 192, 192);
    cursor: not-allowed;
    margin: 3px 3px;
    font-size: 14.5px;
}


.hide{
    display: none;
}


.modal{
    background-color: rgba(0, 0, 0, 0.522);
    backdrop-filter: blur(2px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    display: grid;
    place-items: center;
}
.modalCard{
    background-color: white;
    padding: 30px 20px;
    padding-top: 40px;
    width: 300px;
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.modalCard img{
    width: 100%;
    border-radius: 5px;
    height: 250px;
    object-fit: contain;
    object-position: top;
    border: 1px solid rgb(225, 225, 225);
}
.modalCard .close{
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: 500;
}
.modalCard .close:hover{
    color: red;
    cursor: pointer;
}
.details{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
.details h3{
    font-size: 22px;
    margin-bottom: 5px;
}
.details p{
    font-size: 15px;
    font-weight: 500;
    color: rgb(64, 64, 64);
}
.details p span{
    font-weight: 600;
    color: black;
}
.loader{
    width: 100%;
    height: 70vh;
    margin-top: -120px;
    display: grid;
    place-items: center;
}
.loadWrap{
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 3px;
}
.error{
    width: 100%;
    height: 70vh;
    margin-top: -120px;
    display: grid;
    place-items: center;
}
.errorwrap{
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 3px;
}
.errorwrap svg{
    font-size: 40px;
}
.loadWrap svg{
    font-size: 40px;
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media(max-width: 1300px){
    .wrapper{
        padding: 80px 80px;
    }
}
@media(max-width: 1000px){
    .wrapper{
        padding: 80px 50px;
    }
}
@media(max-width: 900px){
    .charWrap .card{
        width: 30.65%;
    }
}
@media(max-width: 750px){
    .wrapper{
        padding: 80px 30px;
    }
    .heading h1{
        font-size: 35px;
    }
}
@media(max-width: 628px){
    .charWrap .card{
        width: 48%;
    }
}
@media(max-width: 500px){
    .wrapper{
        row-gap: 80px;
    }
    .modalCard{
        width: 70%;
    }
    .modalCard h3{
        font-size: 20px;
    }
}
@media(max-width: 450px){
    .wrapper{
        row-gap: 60px;
    }
    .charWrap .card{
        width: 100%;
    }
    .charWrap .card img{
        object-position: top;
    }
    .charWrap .card img{
        height: 220px;
    }
    .charWrap .card h3{
        font-size: 18px;
    }
    .wrapper{
        padding: 60px 20px;
    }
    .loader svg{
        font-size: 30px;
    }

    .loader h2{
        font-size: 18px;
    }
    .error svg{
        font-size: 30px;
    }

    .error h2{
        font-size: 18px;
    }
    .modalCard{
        width: 95%;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0px;
    }
    .pagination .num{
        padding: 3px 5px;
    }
    .paginationWrap h4{
        font-size: 14px;
    }
}
@media(max-width: 350px){
    
    .paginationWrap{
        column-gap: 0px;
    }
    .pagination{
        padding: 0px 0px;
        padding-bottom: 120px;
    }
}